# Default ignored files
.Result.txt
.Resultb.txt
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Svit\Documents\GitHub\AdventOfCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
